.masthead {
  height: 100vh;
  min-height: 500px;
  background-image:url('static/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-light {
    color: #d8d8d8 !important; /* override bootstraps light text color */
}

.copyright-text {
    color: #d8d8d8;
}
